*.onnx filter=lfs diff=lfs merge=lfs -text
assets/distil-quad/model.onnx filter=lfs diff=lfs merge=lfs -text
assets/distil/model.onnx filter=lfs diff=lfs merge=lfs -text
assets/st/model.onnx filter=lfs diff=lfs merge=lfs -text
